body{
    font-family: arial,sans-serif;
}

main {
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: arial,sans-serif;
}

a:link {
    text-decoration: none;
  }

.left-nav{
    position: absolute;
    left: 0px;
    width: 300px;
    padding: 10px;
}

.right-nav{
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

#search-bar {
    border-radius: 25px;
    outline: none;
    width: 500px;
    height: 30px;
}

.buttons {
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    text-align: center;
    font-size: 24px;
}

footer {
    display: block;
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    bottom: 0;
    position: fixed;
    z-index: 104;
    width: 100%;
  }
